body{
	padding-top:62px;
}
.inline-block{
	display:inline-block;
}
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w33 {
  width: 33.3333%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w66 {
  width: 66.6666%;
}
.w70 {
  width: 70%;
}
.w75 {
  width: 75%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}
.w50p {
  width: 50px;
}
.w100p {
  width: 100px;
}
.w150p {
  width: 150px;
}
.w200p {
  width: 200px;
}
.w300p {
  width: 300px;
}
.w400p {
  width: 400px;
}
.w500p {
  width: 500px;
}
.w600p {
  width: 600px;
}
.w700p {
  width: 700px;
}
.w800p {
  width: 800px;
}
.w960p {
  width: 960px;
}
.mw960p {
  max-width: 960px;
}
.w1140p {
  width: 1140px;
}
.mw1140p {
  max-width: 1140px;
}
.wauto {
  width: auto;
}
/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n = small, medium, large, none
*/
.man {
  margin: 0;
}
.pan {
  padding: 0;
}
.mas {
  margin: 10px;
}
.mam {
  margin: 20px;
}
.mal {
  margin: 40px;
}
.pas {
  padding: 10px;
}
.pam {
  padding: 20px;
}
.pal {
  padding: 40px;
}
.mtn {
  margin-top: 0;
}
.mts {
  margin-top: 10px;
}
.mtm {
  margin-top: 20px;
}
.mtl {
  margin-top: 40px;
}
.mrn {
  margin-right: 0;
}
.mrs {
  margin-right: 10px;
}
.mrm {
  margin-right: 20px;
}
.mrl {
  margin-right: 40px;
}
.mbn {
  margin-bottom: 0;
}
.mbs {
  margin-bottom: 10px;
}
.mbm {
  margin-bottom: 20px;
}
.mbl {
  margin-bottom: 40px;
}
.mln {
  margin-left: 0;
}
.mls {
  margin-left: 10px;
}
.mlm {
  margin-left: 20px;
}
.mll {
  margin-left: 40px;
}
.ptn {
  padding-top: 0;
}
.pts {
  padding-top: 10px;
}
.ptm {
  padding-top: 20px;
}
.ptl {
  padding-top: 40px;
}
.prn {
  padding-right: 0;
}
.prs {
  padding-right: 10px;
}
.prm {
  padding-right: 20px;
}
.prl {
  padding-right: 40px;
}
.pbn {
  padding-bottom: 0;
}
.pbs {
  padding-bottom: 10px;
}
.pbm {
  padding-bottom: 20px;
}
.pbl {
  padding-bottom: 40px;
}
.pln {
  padding-left: 0;
}
.pls {
  padding-left: 10px;
}
.plm {
  padding-left: 20px;
}
.pll {
  padding-left: 40px;
}

/*/////////////////////////////////////////////////////////CSS POUR LE DRAG AND DROP DE FICHIER/////////////////////////////*/


.features {
    float: right;
    padding-left: 20px;
    width: 300px;
}
.features .heading {
    font-size: 14px;
    font-weight: bold;
}
.drop {
    border: 2px dashed #ffffff;
    border-radius: 5px;
    line-height: 34px;
    padding: 15px;
}
.drop.drag-over {
    background: #5cb85c none repeat scroll 0 0;
    color: #fff;
}
.transfer-box {
    margin-bottom: 5px;
}
.transfer-box .progress {
    margin-bottom: 0;
}
.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
}
.thumbnail img {
    max-height: 150px;
    max-width: 200px;
}
.gallery-box {
    border: 1px solid #ddd;
    float: left;
    margin: 7px;
    min-height: 200px;
    overflow: hidden;
    padding: 5px;
    width: 200px;
}
.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 188px;
    width: 188px;
}
.gallery-box .title {
    display: block;
    height: 22px;
    overflow: hidden;
}
.dragDropZone{
	border:4px white dashed;
	padding:8px;
}

/*///////////////////////////////////////////////////FIN DE CSS POUR LE DRAG N DROP DE FICHIER/////////////////////////////*/
.navbar.navbar-default.navbar-fixed-top{
	background-color:white;
	border-bottom: 2px solid #e2e2e2;
box-shadow: 0 0 4px rgba(0,0,0,.07);
}
.navbar-default .navbar-nav > li > a{
	color:#409b88;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color:#7b8a8b;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	color:white;
	background-color:#409b88;
}
div.navbar.navbar-default.navbar-fixed-top div.container div.navbar-header a.navbar-brand{
	padding:0;
}
#carousel-example-generic.carousel.slide{
	height:400px;
	overflow:hidden;
}
.navbar.navbar-default.navbar-fixed-top div.container div#navbar-main.navbar-collapse.collapse #secondUlNavBar li{
	margin-top:8px;
}
ul.dropdown-menu li:hover{
	color:white;
}
.form-inline .input-group > .form-control.pre-input{
	width:75%;
}
.glyphicon.pmr{
	padding-right: 10px;
}
.glyphicon.pml{
	padding-left: 10px;
}
.post-input{
	width:25%;
	height: 45px;
}
.carousel-caption{
	left:10%;
	text-align:left;
	top:150px;

}
.carousel-caption h1{
	color:#409b88;
	font-weight:bold;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	font-size:52px;
}
.carousel-indicators{
	width:100%;
	margin:0;
	left:0;
	bottom:0;
	height:10px;
	background-color:white;
	padding:0;
}
.carousel-indicators li{
	display:block;
	float:left;
	width:33.33%;
	height:10px;
	padding:0;
	margin: 0;
	border:none;
	border-radius:0;
	background-color:transparent;
	transition:all .3s;
}
.carousel-indicators li:hover,.carousel-indicators li.active{
	display:block;
	float:left;
	width:33.33%;
	height:10px;
	padding:0;
	margin: 0;
	border:none;
	border-radius:0;
	transition:.3s;
	background-color: #409b88;
}
#presentOffers{
	padding-top:20px;
	background-attachment: fixed;
background-color: #eeeeee;
background-image: url("http://www.transparenttextures.com/patterns/cubes.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.fixed{
	position:fixed;
}
.accountMenu{
	padding:30px 0 0 0 !important;
	height:100%;
}
.accountMenu ul li{
	transition:.3s all;
	padding-left:15px;
}
.accountMenu ul li a{
	color:white;
}

.accountMenu ul li.active{
	padding-left:40px;
	transition:.3s all;
}
.accountMenu ul li:hover{
	padding-left:40px;
	transition:.3s all;
	background-color:#308b78;
}
.accountMenu ul li.active, .accountMenu ul li.active:hover{
	background-color:#207b68;
}

.accountMenu ul li:hover a,.accountMenu ul li a,.accountMenu ul li a.ng-binding,.accountMenu ul li a:hover,.accountMenu ul li a:focus{
	background: transparent !important;
}
.ico-bioport{
	padding-right:10px;
}
.modal-header{
	padding: 11px 20px 5px 20px;
}
.modal-title{
	line-height: 2.2em;
	font-size:1.7em;
}
.pam{
    padding: 10px;
}

.contentOffer{
	background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 0 0 5px 5px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.headOffer{
	 border: 1px solid #e2e2e2;
    border-bottom:none;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    padding:15px;
    background-color:white;
}
.primaryBG{
	color: white;
	background-color: #409b88;
	border: none;
}
.secondaryBG{
	color: white;
	background-color: #409FCE;
	border: none;
}
.tertiaryBG{
	color: white;
	background-color:#F39C12;
	border: none;
}
.bgFixLarge{
	
	background-attachment: fixed;
	background-image:url("../lib/img/IS09AQ4B0.jpg");
	background-position:center right;
	background-color:rgba(255,255,255,.5);
}
.bgFixLarge .page-header{
 padding:50px;
 background-color: rgba(255, 255, 255, 0.65);
}

.clickable{
	cursor:pointer;
}

.panel-default h3{
	margin-top:0;
	padding-top:10px;
}

.accountPersonalisation .accountCtrlListItem button.ajoutItem{
	font-size: 1.1em;
	line-height: 25px;
}
.iconAjout{
	border: 1px solid white;
	border-radius: 50%;
	padding: 6px;
	float: right;
	font-size:0.6em;
}
.accountCtrlRow{
	margin-right:0;
}
.accountPersonalisation li.dropdown.open > ul > li{
	padding:2px 15px;
	cursor:pointer;
}
.accountPersonalisation li.dropdown.open > ul > li:hover{
	background-color:#e2e2e2;
	color:#409b88;
}
/* .accountCtrl .nav.nav-pills.nav-stacked {
	border-right: 1px solid #e2e2e2;

}
.nav.nav-pills.nav-stacked > li{
	border-bottom:1px solid #e2e2e2;
} */

.nav-pills > li > a{
	border-radius:0;
}
.nav-stacked > li + li{
	margin-top:0;
}
.accountCtrlListItem li{
	cursor:pointer;
}
.accountCtrlListItem li:first-child.dropdown{
 border:1px solid #e2e2e2;
}
.accountCtrlListItem li:hover{
	background-color:#f1f1f1;
}
.accountCtrlListItem li.active, .accountCtrlListItem li.active a{
	background-color:#409b88;
	color:white;
}
.accountCtrlListItem > li > hr{
	margin:0;
}
.accountCtrlListItem > li img{
	margin:10px;
}
.listItemImg{
	max-width:60px;
}
.listItemContent{
	margin-left:25px;
}
.listItemContentName{
	font-size:1.3em;
}
.listIem:not(.active) .listItemContentInfo{
	color:#888888;
}
.listItemContentInfo span{
	font-size:1.5em;
	
}
.listItemContentInfo a{
	margin-left:10px;
}
.itemSelectedHeader{
	font-size:1.1em;
	position:relative;
	
	border:1px solid #e2e2e2;
}
.itemSelectedHeaderVisibility{
	position:absolute;
	z-index:1000;
	top:10px;
	right:10px;
}
.itemSelectedHeaderVisibility .btn-defaultModif{
	padding:1px 5px;
	width:31px;
	font-size:20px;
	color:#888888;
	background-color:white;
	border:1px solid #e2e2e2;

}
.itemSelectedHeaderDivImg{

}
.itemSelectedHeaderImg{
	width: 100%;
	padding: 5px;
	margin: 10px;
	min-height:120px;
	border: 1px solid #e2e2e2;
	background-color: white;
}
.itemSelectedHeaderContent{
	padding-bottom:10px;
}
.itemSelectedHeaderContent p{
	color:#888888;
}
.ion-social-dropbox{
	font-size: 1.6em;
	padding-right: 8px;
	margin-top: -9px;
	margin-bottom: -10px;
	display: inline-block;
}
.ion-erlenmeyer-flask,.ion-person-stalker,.ion-gear-b,.ion-ionic,.ion-chatboxes,.ion-earth,.ion-locked,.ion-merge{
	padding-right: 9px;
	font-size:1.3em;
}
