<div class="accountCtrl" ng-controller="AccountCtrl">
	<div class="row accountCtrlRow">
		<div class="col-lg-2 col-md-3 fixed primaryBG hidden-sm hidden-xs ng-resizable ui-widget-content accountMenu" >
			<ul class="nav nav-pills nav-stacked ">
			  	<li ng-repeat="menu in menus" class="{{menu.active}}" >
			  		<a href="#/account/{{menu.url}}">
			  			<span class="{{menu.iconClass}} pmr"></span> {{menu.title}}
			  		</a>
			  	</li>	
			</ul>
		</div>
		
		<div ng-repeat="menu in menus" class="col-lg-10 col-md-9 col-md-offset-3 col-lg-offset-2" ng-show="menu.active" >
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h1>{{menu.title}} <span class="glyphicon glyphicon-info-sign pml clickable" style="font-size:0.4em" ng-click="infos()"></span></h1>
				<div class="alert alert-dismissible panel-default" ng-show="info">
	             
	                <button type="button" class="close" class="pull-right" ng-click="infos()">&times;</button>
	                <h3><strong>{{menu.infoHeader}}</strong></h3>
	                <p>{{menu.infoContent}}</p>
	              
	            </div>
			</div>
			
            <div class="accountPersonalisation" ng-include src="menu.template">
             
            </div>
             
		</div>
	</div>
	

</div>


