<!doctype html>
<html lang="en" ng-app="Bioport">
<head>
  <meta charset="utf-8">
  <title>BioPort - Share your biological collections</title>
  <link rel="stylesheet" href="lib/bootstrap.css">
  <link rel="stylesheet" href="lib/bootswatch.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="/lib/angular.js"></script>
  <script src="/lib/angular-route.js"></script>
  <script src="/lib/angular-cookies.js"></script>
  <script src="/lib/angular-cookieWriter.js"></script>
  <script src="/lib/angular-resource.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/directives.js"></script>
</head>
<body ng-controller="MainCtrl">
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#/" class="navbar-brand"><img src="lib/img/bioport_sans_ss_titre.jpg" alt="Logo Bioport" style="height:inherit"/></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul  id="firstUlNavBar" class="nav navbar-nav">
            <li ng-if="isLogged" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><span class="glyphicon glyphicon-th-list pmr"></span> Menu <span class="caret"></span></a>
              <ul ng-controller="AccountCtrl"class="dropdown-menu" aria-labelledby="themes">
                <li ng-repeat="menu in menus"><a href="#/account/{{menu.url}}"><span class="{{menu.iconClass}} pmr"></span> {{menu.title}}</a></li>
                <li></li>
              </ul>
            </li>  
          </ul>
          <ul id="secondUlNavBar" class="nav navbar-nav">
            <li>
              <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input ng-model="query" type="text" class="form-control pre-input" id="exampleInputAmount" placeholder="Search something">
                
                  <button ng-click="search(query)" type="submit" class="input-group-addon post-input"><span class="glyphicon glyphicon-search" ></span></button>
                </div>
              </div>
            </form>
            </li>
          </ul>
          <ul id="thirdUlNavBar" class="nav navbar-nav navbar-right">
            <li ng-if="!isLogged">
              <a href="#/offers">Sign in</a>
            </li>
            <li ng-if="!isLogged">
              <a data-toggle="modal" data-target="#logInModal" href="#" id="logIn">Log in</a>
            </li>
            <li ng-if="isLogged">
              <a ng-click="logOut()" href="#" id="logOut">Log out</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  <div ng-view></div>
    
    <script src="lib/bootstrap.js"></script>
    <script src="lib/bootswatch.js"></script>
</body>
</html>
