
	<ng-visibility-drop-down-btn item="itemSelected"></ng-visibility-drop-down-btn>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 itemSelectedHeaderDivImg" >
			<img src="{{itemSelected.image}}" alt="" class="itemSelectedHeaderImg"/>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 itemSelectedHeaderContent">
			<h1>{{itemSelected.name}}</h1>
		  	<p><span ng-class="{'ion-social-dropbox' : itemSelected.collection,'ion-erlenmeyer-flask':itemSelected.sampleNumber}"></span> {{itemSelected.collection || itemSelected.sampleNumber+" Samples"}}</p>
		  
			<button class="btn btn-info btn-sm" ><span class="glyphicon glyphicon-floppy-save pmr"></span> Export CSV</button>
		</div>
	</div>
	
  
