
		<div class="btn-group itemSelectedHeaderVisibility">
				  <button type="button" class="btn btn-default btn-defaultModif"><span class="ion-eye"></span></button>
				  <button type="button" class="btn btn-default btn-defaultModif dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu pull-right">
				    <li><a href="#"><span class="ion-earth pmr"></span>Publique</a></li>
				    <li><a href="#"><span class="ion-person-stalker"></span>Partagée</a></li>
				    <li><a href="#"><span class="ion-locked"></span>Privée</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#"><span class="ion-merge"></span>Héritée</a></li>
				  </ul>
			</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 itemSelectedHeaderDivImg" >
			<img src="{{sampleSelected.image}}" alt="" class="itemSelectedHeaderImg"/>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 itemSelectedHeaderContent">
			<h1>{{sampleSelected.name}}</h1>
		  	<p><span class="ion-social-dropbox"></span> {{sampleSelected.collection}}</p>
		  
			<button class="btn btn-info btn-sm" ><span class="glyphicon glyphicon-floppy-save pmr"></span> Export CSV</button>
		</div>
	</div>
	
  
